<% layout('layout/boilerplate') %>
    <section id="home-about" class="banner-wrapper rounded">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 order-lg-2 order-2 d-flex flex-column justify-content-center align-items-center">
                    <h1 class="typed">OldBuy</h1>
                    <p>“Old books exert a strange fascination -- their smell, their feel, their history; wondering who
                        might
                        have owned them, how they lived, what they felt.” </p>
                </div>
                <div class="col-lg-6 order-lg-1 order-1">
                    <div class="top-right-img">
                        <img src="images/home_img.png" style="max-width: 90%;" class="img-fluid about-image" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="mt-3 mb-3">
        <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4">
            <div class="col">
                <div class="card h-100">
                    <img src="images/computer.jpg" class="card-img-top" alt="">
                    <div class="card-body w-100 d-flex flex-column align-items-center">
                        <h5 class="card-title">Computer Engineering</h5>
                        <a href="/showbooks/computer" class="btn btn-primary w-100">Explore Books</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="images/mechanical.jpeg" class="card-img-top" alt="...">
                    <div class="card-body w-100 d-flex flex-column align-items-center">
                        <h5 class="card-title">Mechanical Engineering</h5>
                        <a href="/showbooks/mechanical" class="btn btn-primary w-100">Explore Books</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="images/electrical.jpg" class="card-img-top" alt="...">
                    <div class="card-body w-100 d-flex flex-column align-items-center">
                        <h5 class="card-title">Electrical Engineering</h5>
                        <a href="/showbooks/electrical" class="btn btn-primary w-100">Explore Books</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="images/civil.png" class="card-img-top" alt="...">
                    <div class="card-body w-100 d-flex flex-column align-items-center">
                        <h5 class="card-title">Civil Engineering</h5>
                        <a href="/showbooks/civil" class="btn btn-primary w-100">Explore Books</a>
                    </div>
                </div>
            </div>
        </div>
    </section>