body {
    background-color: #e4e4e7;
}

#home-about {
    background-color: white;
    padding: 45px 0px 45px 0px;
}

#home-about p {
    font-style: italic;
    color: blue;
}

#home-about h1 {
    font-size: 80px;
    line-height: 200px;
    color: green;
    text-decoration: underline;
}

.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: fill;
}